//- link(rel='stylesheet', href='/css/navbar.css')
#navbar.nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='/') Homework Help
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-link(href='/games') Games
      .navbar-nav
        a.nav-link(href='/service/hvtrs8%2F-jqeou0.eivhwb%2Cim%2Febc%2Fnawnahgr%2Chvmn%23roieoolrgd') GBA Emu
      .navbar-nav
        a.nav-link(href='/disclaimer') Disclaimer
          


//- #navbar.nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.nf
//-   .container-fluid
//-     a.navbar-brand(href='/') DiShare
//-     button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
//-       span.navbar-toggler-icon

//- script.
//-   // When the user scrolls down 20px from the top of the document, slide down the navbar
//-   window.onscroll = function() {scrollFunction()};
//-   function scrollFunction() {
//-   if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
//-   document.getElementById("navbar").style.top = "0";
//-   } else {
//-   document.getElementById("navbar").style.top = "-200px";
//-   }
//-   }

