doctype
html(lang="en")
  head
    include includes/header.pug
  body
    include includes/navbar.pug
    .container
      .jumbotron.text-center
        h1.display-3 Disclaimer:
        hr
      .text-center
        p Homeworkhelp.ga is in no way responsible whatsoever if you get into trouble for using our services. By using our site you agree that all your actions on this site is in no way our fault and if you are in trouble for using our site thats on you. Happy searching!